{{#users}}
  <div class="upcoming-event">
    {{#starts}}
      {{{headerMonth value}}}
    {{/starts}}
    <a href="/{{path}}" class="main-link">
      <span class="type {{bundle_name}}">{{bundle_name}}</span>
      {{#starts}}
        <span class="date">{{smartDates value value2}}</span>
      {{/starts}}
      <br/><span class="title">{{title}}</span>
    </a>

    <div class="flyout hidden">
      {{#field_long_description}}
        <span class="description">{{{trimString safe_value}}}</span>
      {{/field_long_description}}
      <span class="description-extended hidden"></span>
      <a href="/{{path}}" class="main-link">
       View this {{bundle_name}}
      </a>
    </div>

  </div>
{{/users}}
